BakingApp/.idea/gradle.xml
BakingApp/.idea/misc.xml
BakingApp/.idea/modules.xml
BakingApp/.idea/runConfigurations.xml
BakingApp/gradle/wrapper/gradle-wrapper.jar
BakingApp/gradle/wrapper/gradle-wrapper.properties
BakingApp/gradlew
BakingApp/gradlew.bat
